{% extends 'base.html' %}

<!-- header block -->
{% block header %}
<h1>{% block title %}Add Post{% endblock %}</h1>
{% endblock %}

<!-- content block -->
{% block content %}
<form method="POST" class="form-group">
  {{ form.hidden_tag() }}

  {{ form.title.label }}
  {{ form.title() }}
  <hr style="height:2px;border-width:0;color:gray;background-color:gray">
  {{ form.body.label }}
  {{ form.body() }}

  <hr style="height:2px;border-width:0;color:gray;background-color:gray">
  {{ form.submit() }}
</form>
{% endblock %}