{% extends 'base.html' %}

<!-- header block -->
{% block header %}
<h1>{% block title %}Change Password{% endblock %}</h1>
{% endblock %}

<!-- content block -->
{% block content %}
<form method="POST" action="" class="form-group">
  {{ form.hidden_tag() }}

  <ul>
    {% for field , error in form.errors.items() %}

    <li>{{form[field].label}} : {{",".join(error)}} </li>

    {% endfor %}
  </ul>

  {{ form.old_password.label }}
  {{ form.old_password() }}
  <hr style="height:2px;border-width:0;color:gray;background-color:gray">

  {{ form.password.label }}
  {{ form.password() }}

  <hr style="height:2px;border-width:0;color:gray;background-color:gray">

  {{ form.confirm.label }}
  {{ form.confirm() }}

  <hr style="height:2px;border-width:0;color:gray;background-color:gray">

  {{ form.submit() }}
</form>
{% endblock %}