{% extends 'base.html' %}

<!-- header block -->
{% block header %}
<h1>{% block title %}Edit Profile{% endblock %}</h1>
{% endblock %}

<!-- content block -->
{% block content %}
<form method="POST" class="form-group">
  {{ form.hidden_tag() }}

      {{ form.first_name.label }}
      {{ form.first_name() }}
      <hr>
      {{ form.last_name.label }}
      {{ form.last_name() }}
      <hr>
      {{ form.biography.label }}
      {{ form.biography() }}
   
  <hr>
 <center> {{ form.edit() }} </center>
</form>
{% endblock %}
