{% extends 'base.html' %}

<!-- header block -->
{% block header %}
<h1>{% block title %}Add User{% endblock %}</h1>
{% endblock %}

<!-- content block -->
{% block content %}
<form method="POST" action="">
  {{ form.hidden_tag() }}


  {{ form.username.label }}
  {{ form.username() }}
  <hr style="height:2px;border-width:0;color:gray;background-color:gray">


  {{ form.first_name.label }}
  {{ form.first_name() }}
  <hr style="height:2px;border-width:0;color:gray;background-color:gray">

  {{ form.last_name.label }}
  {{ form.last_name() }}

  <hr style="height:2px;border-width:0;color:gray;background-color:gray">
  {{ form.password.label }}
  {{ form.password() }}

  <hr style="height:2px;border-width:0;color:gray;background-color:gray">

  {{ form.biography.label }}
  {{ form.biography() }}
  <hr style="height:2px;border-width:0;color:gray;background-color:gray">

  {{ form.submit() }}
</form>
{% endblock %}