{% extends 'base.html' %}

<!-- header block -->
{% block header %}
<h1>{% block title %}Users{% endblock %}</h1>
{% endblock %}

<!-- content block -->
{% block content %} 
{% for user in users %}
<article class="post">
  <header>
    <div>
      <h1>{{ user['username'] }}</h1>
      <hr style="height:2px;border-width:0;color:gray;background-color:gray">

    </div>
  </header>
</article>
{% endfor %}

<center><a href="/profile" class="btn btn-secondary " type="button" role="button"> Your Profile </a></center>

{% endblock %}